/*RWD*/
@mixin mobile {
  @media screen and (min-width : $sm) {
      @content
  }
};
@mixin pad {
  @media screen and (min-width : $md) {
      @content
  }
};
@mixin laptop {
  @media screen and (min-width : $lg) {
      @content
  }
};
@mixin table{
  @media screen and (min-width : $xl){
      @content
  }
};

@mixin flex-row($jc){
  display: flex;
  justify-content: $jc;
  align-items: center;
};
@mixin flex-column($align){
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: center;
};

@mixin btn_shadow($width , $height , $font-size ,$line-height,$border-radius){
  @include flex-row(center);
  height: $height;
  width: $width;
  color: map-get($c_text,primary_light);
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  border-radius: $border-radius;
  background: map-get($map: $c_text, $key: primary_dark);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
};